*,
::before,
::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 11pt/1.4 serif;
  color: #000;
}

body {
  margin: 0;
}

main {
  display: block;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

abbr {
  border-bottom: none;
}

i {
  font-style: inherit;
}

.branding {
  display: inline-block;
  width: 7.5em;
}

.logo {
  display: block;
  width: 100%;
}

@media all {
  table,
  thead,
  tbody,
  th,
  tr,
  td {
    display: block;
  }
  tr {
    border: 0 solid transparent;
  }
  th {
    text-align: left;
  }
  td,
  th {
    padding: 0;
  }
}

@page {
  margin: 20mm;
}

@media print {
  .hidden-print {
    display: none !important;
  }
  tr {
    margin: .375em 0;
    padding-left: 3mm;
    border-left-width: 15mm;
  }
  th,
  td {
    display: inline-block;
  }
  tr > :nth-child(1) {
    width: 6em;
  }
  tr > :nth-child(2) {
    width: 10em;
  }
  i {
    color: #e6ebf0;
  }
  code {
    font-size: 10pt;
  }
  .branding {
    float: right;
  }
  .colors + .colors {
    page-break-before: always;
  }
  footer {
    margin-top: 15mm;
  }
}

@media screen {
  .hidden-screen {
    display: none !important;
  }

  a:focus,
  a:hover {
    text-decoration: underline;
  }

  html,
  body {
    height: 100%;
  }

  main {
    min-height: 100%;
  }

  html {
    font: 16px/1.375 "Open Sans", sans-serif;
  }
  [data-theme="dark"] {
    background-color: #000;
    color: #fff;
  }

  .container {
    padding: 2em;
  }

  header {
    background-color: #bce4fa;
    color: #00497b;
    text-align: right;
  }
  header .container {
    position: relative;
  }

  .branding {
    float: left;
    margin-top: -2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .title {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #00385f;
    font-size: inherit;
  }
  [data-theme="dark"] .title {
    color: #bce4fa;
  }
  h1.title {
    margin-top: 0;
    padding-bottom: .25em;
    border-bottom: 1px solid #00385f;
    color: #00385f;
    font-size: 2em;
    font-weight: inherit;
  }
  [data-theme="dark"] h1.title {
    border-bottom-color: #bce4fa;
  }

  i,
  h2 + p {
    font-weight: 300;
  }

  h2 + p {
    margin-top: -.5em;
    margin-bottom: 2em;
  }

  code {
    font-family: inherit;
  }
  i {
    color: #313a45;
  }
  [data-theme="dark"] i {
    color: #e2f4fe;
  }

  thead {
    display: none;
  }
  tr {
    margin-bottom: 2em;
  }
  [data-theme="light"] [data-color="#ffffff"] td:last-child {
    border-color: #000;
  }
  [data-theme="dark"] [data-color="#000000"] td:last-child {
    border-color: #fff;
  }

  footer {
    background-color: #313a45;
    color: #aabacc;
  }

  .theme-toggle {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .theme-toggle b {
    display: inline-block;
    width: 6ex;
    background-color: #fff;
    border-radius: 0.6875em;
    color: #000;
    font-weight: inherit;
    text-align: center;
  }
  [data-theme="dark"] .theme-toggle b {
    background-color: #000;
    color: #fff;
  }

}

@media screen and (max-width: 47.99em) {
  .container {
    padding: 1em;
  }
  .branding {
    margin-top: -1.5em;
    font-size: 62.5%;
  }
  h1.title {
    font-size: 1.5em;
  }
  tr {
    margin-bottom: 1px;
    height: 6.5em;
    margin-left: -1em;
    padding: 1em 0 1em 1em;
    border-left-width: 6.5em;
  }
  td:last-child:empty::before {
    content: "\a0";
  }
  .description::before {
    content: "\201c";
  }
  .description::after {
    content: "\201d";
  }
  /*tr {
    border-top-width: 4em;
    margin-right: -1em;
    margin-left: -1em;
  }
  td {
    padding-right: 1em;
    padding-left: 1em;
  }*/
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 48em) {
  tr {
    position: relative;
    padding-top: .125em;
    border-top-width: 2em;
  }
  td:last-child {
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 2em;
    width: 100%;
    border: 1px solid transparent;
    color: #fff;
    line-height: 1.75em;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 0 .25em #000;
    white-space: nowrap;
  }
  .description {
    font-size: 75%;
  }
  footer p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .build {
    float: right;
  }
}

@media screen and (min-width: 48em) and (max-width: 75.99em) {
  table::after {
    content: "";
    clear: both;
    display: table;
  }
  tbody {
    margin-left: -2em;
  }
  tr {
    float: left;
    width: calc(25% - 2em);
    margin-left: 2em;
  }
  [data-color="#e30613"],
  [data-color="#aabacc"],
  [data-color="#d4edfc"],
  [data-color="#313a45"],
  [data-color="#9e0000"] {
    clear: left;
  }
}

@media screen and (min-width: 64em) {
  tr {
    width: calc(20% - 2em);
  }
}

@media screen and (min-width: 76em) {
  .container {
    width: 76em;
    margin-right: auto;
    margin-left: auto;
  }
  .colors-main {
    position: absolute;
    width: 22em;
  }
  .colors-additional {
    margin-left: 26em;
    width: 46em;
  }
  .title {
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table {
       -moz-column-count: 2;
    -webkit-column-count: 2;
            column-count: 2;
       -moz-column-gap: 2em;
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
  .colors-additional table {
       -moz-column-count: 4;
    -webkit-column-count: 4;
            column-count: 4;
  }
  tr {
    width: 10em;
       -moz-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
            column-break-inside: avoid;
  }
  [data-color="#313a45"],
  [data-color="#9e0000"] {
       -moz-column-break-before: always;
    -webkit-column-break-before: always;
            column-break-before: always;
  }
}
