*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color: #000;
}

body {
  position: relative;
  max-width: 580px;
  margin: 0 auto;
  padding: 20px;
}

main {
  display: block;
}

[hidden] {
  display: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

abbr {
  border-bottom: none;
}

h2 + p,
.description::before,
.description::after,
i {
  color: #aabacc;
  font-style: inherit;
}

.logo {
  display: block;
  width: 7.5em;
}

svg {
  display: block;
  width: 100%;
}

@media all {
  body {
    max-width: none;
    padding: 0;
  }
  table,
  tbody,
  th,
  tr,
  td {
    display: block;
  }
  thead {
    display: none;
  }
  tr {
    border: 0 solid transparent;
  }
  td {
    padding: 0;
  }
}

@page {
  margin: 20mm;
}

@media print {
  html {
    font: 11pt/1.4 serif;
  }
  h1 {
    margin: 0 0 5mm;
  }
  h2 {
    font-size: inherit;
    font-weight: inherit;
  }
  tr {
    margin: .375em 0;
    padding-left: 3mm;
    border-left-width: 15mm;
  }
  td {
    display: inline-block;
  }
  tr > :nth-child(1) {
    width: 20mm;
  }
  h2 + p,
  tr > :last-child {
    display: none;
  }
  code {
    font-size: 10pt;
  }
  .logo,
  .build {
    float: right;
  }
  .colors {
    float: left;
    width: 50%;
    padding: 5mm 0;
  }
  header {
    border-bottom: 1pt solid #000;
  }
  footer {
    clear: both;
    border-top: 1pt solid #000;
  }
}

@media screen {

  a:focus,
  a:hover {
    text-decoration: underline;
  }

  html {
    font: 16px/1.375 "Open Sans", sans-serif;
  }

  .container {
    padding: 2em;
  }
  .branding.container {
    padding-top: 0;
    padding-bottom: 0;
  }
  h1.container {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  main {
    min-height: calc(100vh - 23.6875em);
  }

  .branding,
  .night-mode {
    height: 5.25rem;
  }
  .branding {
    background-color: #bce4fa;
    color: #00497b;
  }
  .logo {
    padding: 1em 0;
  }

  h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    background: url(bg.jpg) center center no-repeat #313a45;
    background-size: cover;
    color: #fff;
    font-size: 2.5em;
    font-weight: inherit;
    text-align: center;
    text-shadow: 0 0 .25em #000;
  }

  h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #00385f;
    font-size: inherit;
  }
  #night-mode:checked ~ main h2 {
    color: #bce4fa;
  }

  h2 + p {
    margin-top: -1em;
    margin-bottom: 2em;
  }

  code {
    font-family: inherit;
  }

  tr {
    margin-bottom: 2em;
  }
  #night-mode ~ main [style="border-color:#ffffff"] td:last-child {
    border-color: #000;
  }
  #night-mode:checked ~ main [style="border-color:#000000"] td:last-child {
    border-color: #fff;
  }

  footer {
    background-color: #313a45;
    color: #aabacc;
  }

  #night-mode {
    display: none;
  }
  .night-mode {
    display: block;
    position: absolute;
    font-size: 0;
    top: 0;
    right: 2rem;
    padding-top: 2rem;
    color: #00497b;
    cursor: pointer;
  }
  .night-mode::before {
    content: "Theme: ";
    font-size: 1rem;
  }
  .night-mode::after {
    content: "Light";
    display: inline-block;
    width: 3.5rem;
    background-color: #fff;
    border-radius: .6875rem;
    color: #000;
    font-size: 1rem;
    text-align: center;
  }
  #night-mode:checked + .night-mode::after {
    content: "Dark";
  }
  #night-mode:checked + .night-mode::after,
  #night-mode:checked ~ main {
    background-color: #000;
    color: #fff;
  }

}

@media screen and (max-width: 19.99em) {
  html {
    font-size: 5vw;
  }
}

@media screen and (max-width: 25.99em) {
  .container {
    padding: 1em;
  }
  main.container {
    padding-bottom: 0;
  }
  .logo {
    width: 5em;
  }
  h1 {
    font-size: 1.75em;
  }
  .colors + .colors {
    margin-top: 3.5em;
  }
  table {
    margin-bottom: -1px;
    padding-bottom: 1px;
  }
  tr {
    margin-bottom: 1px;
    height: 6.5em;
    margin-left: -1em;
    padding: 1em 0 1em 1em;
    border-left-width: 6.5em;
  }
  td:last-child:empty::before {
    content: "\a0";
  }
  .description::before {
    content: "\201c";
  }
  .description::after {
    content: "\201d";
  }
  .branding,
  .night-mode {
    height: 4.1875rem;
  }
  .night-mode {
    right: 1rem;
    padding-top: 1.375rem;
  }
}

@media screen and (min-width: 26em) {
  table::after {
    content: "";
    clear: both;
    display: table;
  }
  tbody {
    margin-left: -2em;
  }
  tr {
    float: left;
    position: relative;
    width: calc(50% - 2em);
    margin-left: 2em;
    padding-top: .125em;
    border-top-width: 2em;
  }
  [style="border-color:#e30613"],
  [style="border-color:#d4edfc"],
  [style="border-color:#313a45"],
  [style="border-color:#9e0000"] {
    clear: left;
  }
  td:last-child {
    overflow: hidden;
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 2em;
    width: 100%;
    border: 1px solid transparent;
    color: #fff;
    line-height: 1.75em;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: 0 0 .25em #000;
    white-space: nowrap;
  }
  .description {
    font-size: 75%;
  }
}

@media screen and (min-width: 36.5em) {
  tr {
    width: calc(33.333% - 2em);
  }
}

@media screen and (max-width: 47.99em) {
  footer {
    text-align: center;
  }
}

@media screen and (min-width: 48em) {
  tr {
    width: calc(25% - 2em);
  }
  footer p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .build {
    float: right;
  }
}

@media screen and (min-width: 59.5em) {
  tr {
    width: calc(20% - 2em);
  }
}

@media screen and (min-width: 78em) {
  .container {
    padding-right: calc(50% - 37rem);
    padding-left: calc(50% - 37rem);
  }
  .night-mode {
    right: calc(50% - 37rem);
  }
  .colors-main {
    position: absolute;
    width: 22em;
  }
  .colors-additional {
    margin-left: auto;
    width: 46em;
  }
  h2 {
    margin-top: 0;
  }
  h2,
  h2 + p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  table {
    min-height: 48.375em;
  }
  tr {
    width: 10em;
  }
}
